
p {
	border-bottom:1px dotted #d8d8d8;
	padding-bottom:15px;
	font-size:17px
}
.code
{
height: 5px;
cursor: pointer;
}


textarea {
width:100%;
padding: 6px;
border-radius:2px;
border: 3px solid #336699;
}

input[type=text] {
	margin-top:10px;
padding:6px;
width:93%;
font-family: Unica One;
      font-size:15px;
      border-radius:2px;
border:3px solid #336699;
}
h4 {
	font-size:15px
}
div#title {
position:absolute;
top:300px;
left:650px
}
select {
padding:6px;
width:100%;
      font-size:15px;
      border-radius:2px;
border:3px solid #336699;
}
#submit {
	position:relative;
	width:30%;
	font-size:22px;
        font-weight:bolder;
	border-radius:10px;
	cursor:pointer;
	margin: 6% 0 0 35%;
       
}
#change {
background:#336699;
border:none;
color:#fff;
width:20%;
      font-size:15px;
      font-weight:bolder;
padding:1% 0;
	border-radius:3px;
position:absolute;
left:1%;
}
#change1 {
background:#336699;
border:none;
color:#fff;
width:20%;
      font-size:15px;
      font-weight:bolder;
padding:1% 0;
	border-radius:3px;
position:absolute;
left:25%;
}

ul
{
	list-style-type:none;
}


